services:
  mongodb:
    image: mongo:latest
    container_name: currency_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db 

  backend:
    build: ./backend
    container_name: currency_api
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb:27017/currency_db

  frontend:
    build: ./frontend
    container_name: currency_ui
    ports:
      - "8080:80"
    depends_on:
      - backend


volumes:
  mongo_data: